/* Draws a border around media player control
   The style below is suitable for main_blue.css color scheme.
*/
/*
#MediaPlayer
{
    border: 4px #336699 solid;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color='#222222', OffX='10', OffY='10')
            progid:DXImageTransform.Microsoft.BasicImage(enabled:false);
}*/

/* Add your custom styles here */
.slideshow form
{
    display: inline;
    vertical-align: middle;
}

.slideshow form select
{
    font-family:    Verdana, Arial, sans-serif;
    font-size:100%;
    color: black;
    background-color:   #9F9584;
}

/* How to display default HTML page */
.textview
{
    width:100%;
    height:100%;
    font-size:        80%;

    margin: 0px;
    padding: 5px;

    background-color: white;
    color: black;
}

.textview .buttonlist li
{
    padding:        5px;
    line-height:    180%;
}

.textview .buttonlist li .key
{
    background-color: #9F9584;
    padding: 3px;
    border: 3px outset white;
}
table.imagecomments
{
    margin-top: 20px;
    font-size: 80%;
    border-top: 2px solid black;

    /* Uncomment the next line for main_cyan.css */
    /* color: black; */
}

table.imagecomments th
{
    padding: 10px;
}

table.imagecomments td.imagecomment
{
    border-top: 1px dashed black;
}

table.imagecomments td.imagecommentform
{
    border-top: 1px dashed black;
}

table.imagecomments td.imagecommentform table
{
    font-size: 100%;
}
