.qab2 {

	background-color: #E2DAED;
	border-top-width: 0.5pt;
	border-bottom-width: 0.5pt;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #663366;
	border-bottom-color: #663366;
	font-size: 12px;
	line-height: 25px;
	color: #333366;
}
